
doctype html
html(ng-app='mealOrder')
    head
        title= '食'
        meta(name='viewport', content='width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='icon', type='image/ico', href='favicon.ico')
        link(rel='shortcut icon', type='image/ico', href='favicon.ico')
        link(rel='bookmark', type='image/ico', href='/favicon.ico')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(ng-controller='MenuController')
        p(class='page-title')='内部订餐系统'
        div(class='menu-list unselected')
            p(class='menu-title')='待选列表（点击添加到已选列表）'
            button(ng-repeat='menu in menus' ng-disabled='menu.selected' ng-click='addMeal(menu)' ng-bind='menu.name + ": " + menu.price + "元"')

        div(class='menu-list selected')
            p(class='menu-title')='已选列表（点击删除已选）'
            button(ng-repeat='menu in selectedMeals track by $index' ng-click='deleteMeal(menu)' ng-bind='menu.name + ": " + menu.price + "元"')

        div(class='button-area')
            button(type='button' ng-click='createSelectedList()' ng-disabled='selectedMeals.length===0')='提交'

        script(type='text/javascript' src='./lib/angular.js')
        script(type='text/javascript' src='./lib/socket.io.js')
        script(type='text/javascript' src='./javascripts/index.js')