
extends template-page

block content
    ul(class='breadcrumb')
        li
            a(href='/menu') 菜单
        li=menuInfo ? '编辑菜单' : '创建菜单'

    .col-sm-12.col-xs-12.well
        form.form-horizontal#add-menu-form
            fieldset
                legend 菜单列表
                if menuInfo
                    .form-group.dish-line
                        span.hide#menu_id=menuInfo._id
                        .col-xs-10.col-sm-5
                            input.form-control(name='menuName' type='text' placeholder='菜单名' value=menuInfo.menuName)
                        .col-xs-2.col-sm-7.text-left
                            button.btn.btn-info.btn-sm(type='button' id='add-dish-btn')
                                span.glyphicon.glyphicon-plus-sign
                    #dish-list
                        each dish in menuInfo.dishes
                            .form-group.dish-line
                                .col-xs-5.col-sm-5
                                    input.form-control(name='dishName' type='text' placeholder='菜名' value=dish.dishName)
                                .col-xs-5.col-sm-5
                                    input.form-control(name='price' type='text' placeholder='单价' value=dish.price)
                                .col-xs-2.col-sm-2.text-left
                                    button.btn.btn-danger.del-btn.btn-sm(type='button')
                                        span.glyphicon.glyphicon-minus-sign
                else
                    .form-group.dish-line
                        .col-xs-10.col-sm-5
                            input.form-control(name='menuName' type='text' placeholder='菜单名')
                        .col-xs-2.col-sm-7.text-left
                            button.btn.btn-info.btn-sm(type='button' id='add-dish-btn')
                                span.glyphicon.glyphicon-plus-sign
                    #dish-list
                        .form-group.dish-line
                            .col-xs-5.col-sm-5
                                input(class='form-control' name='dishName' type='text' placeholder='菜名')
                            .col-xs-5.col-sm-5
                                input(class='form-control' name='price' type='text' placeholder='单价')
                            .col-xs-2.col-sm-2.text-left
                                button.btn.btn-danger.del-btn.btn-sm(type='button')
                                    span.glyphicon.glyphicon-minus-sign

                .form-group
                    .col-xs-12.col-sm-12.text-center
                        button(type='button' id='submit-btn' class='btn btn-primary btn-sm' data-loading-text="加载中..." autocomplete="off") 提交
                        | &nbsp;&nbsp;
                        button(type='reset' id='reset-btn' class='btn btn-default btn-sm' data-loading-text="加载中..." autocomplete="off") 重置

    .modal.fade.in(tabindex='-1' id='message-modal' role='dialog' aria-hidden='true' data-backdrop='static')
        .modal-dialog
            .panel.panel-success
                .panel-heading
                    h3.panel-title 菜单创建成功
                .modal-body.text-center
                    a.btn.btn-info.btn-sm(type='button' href='/menu') 回到菜单页
                    | &nbsp;&nbsp;
                    button.btn.btn-info.btn-sm(type='button' id='add-more-btn' data-dismiss="modal") 再创建一个

block scripts
    script(type='text/javascript' src='/lib/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/menu-add.js')
