extends template-page

block content
    ul(class='breadcrumb')
        li
            a(href='/team') 团队
        li 创建团队

    .col-sm-12.col-xs-12.well
        form.form-horizontal#add-team-form
            fieldset
                legend=teamInfo ? '编辑团队' : '新团队'
                .form-group
                    if teamInfo
                        span.hide#team-id=teamInfo._id
                    label.col-sm-2.col-xs-3.control-label(for='team-name') 团队名
                    .col-sm-10.col-xs-9
                        input#team-name(class='form-control' name='teamName' type='text' placeholder='团队名' value=teamInfo?teamInfo.teamName:'')
                .form-group
                    label.col-sm-2.col-xs-3.control-label(for='team-desc') 团队说明
                    .col-sm-10.col-xs-9
                        textarea#team-desc(class='form-control' rows='3' style='resize:none;' name='teamDesc' placeholder='团队说明')
                            if teamInfo
                                =teamInfo.teamDesc
                .form-group
                    label.col-sm-2.col-xs-3.control-label 成员
                    .col-sm-10.col-xs-9
                        button.btn.btn-primary.btn-sm(type='button' data-toggle='modal' data-target='#member-modal') 添加新成员
                .form-group
                    .col-sm-10.col-xs-9.col-sm-offset-2.col-xs-offset-3#selectedMemberList
                        if teamInfo
                            each member in teamInfo.members
                                label(style='padding: 5px;margin-right: 5px;border-radius:5px;background:#00e7af' username=member)= member
                                    if member !== username
                                        | &nbsp;
                                        span.glyphicon.glyphicon-remove.text-danger(role='button')
                        else
                            label(style='padding: 5px;margin-right: 5px;border-radius:5px;background:#00e7af' username=username)= username
                .form-group
                    label.col-sm-2.col-xs-3.control-label 菜单
                    .col-sm-10.col-xs-9
                        button.btn.btn-primary.btn-sm(type='button' data-toggle='modal' data-target='#menu-modal') 选择菜单
                .form-group
                    .col-sm-10.col-xs-9.col-sm-offset-2.col-xs-offset-3#selectedMenuList
                        if teamInfo
                            each menu in teamInfo.menus
                                span(menu-id=menu.menuId)=menu.menuName + '、'

                .form-group
                    .col-xs-12.col-sm-12.text-center
                        button(type='button' id='submit-btn' class='btn btn-primary btn-sm' data-loading-text="加载中..." autocomplete="off") 提交
                        | &nbsp;&nbsp;
                        button(type='reset' id='reset-btn' class='btn btn-default btn-sm' data-loading-text="加载中..." autocomplete="off") 重置

    .modal.fade.in(tabindex='-1' id='member-modal' role='dialog' aria-hidden='true' data-backdrop='static')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') x
                    h4.modal-title 添加成员
                .modal-body.col-sm-12.col-xs-12
                    .col-sm-10.col-xs-10.col-sm-offset-1.col-xs-offset-1
                        input.form-control(type='text' id='team-keyword' placeholder='请输入用户名进行查询')
                        ul.list-group#member-list(style='height:200px;overflow-y:auto;margin-top:10px;')

                .modal-footer

    .modal.fade.in(tabindex='-1' id='menu-modal' role='dialog' aria-hidden='true' data-backdrop='static')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') x
                    h4.modal-title 添加关联菜单
                .modal-body.col-sm-12.col-xs-12
                    ul.list-group#menu-list(style='max-height:350px;overflow-y:auto;')

                .modal-footer


block scripts
    script(type='text/javascript' src='/lib/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/team-add.js')
